.popup {
    width: 500px;
    height: 500px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* <-- This centers the div */
    text-align: center;
    opacity: 0.4;
    border-radius: 10px;
}
.left{
    text-align: left;
    margin-left: 10px;
}
