.footer{
    background-color: #2D2C2C;
    height: 400px;
    width: 100vw;
}
.top-div{

width: 80vw;
height: 60%;
margin: 0 auto;
background-color: green;
display: flex;
justify-content: space-between;
}
.innerDiv{
    width: 30%;
    height: 100%;
    background-color: aqua;

}
.innerDiv >p{
    text-align: justify;
    font-weight: 300    ;
   color: white;
   font-family: 'poppins';

}
.innerDiv >h4{
    margin-top: 0px;
    font-weight: 400;
    color: #c89b63;
    text-align: center;
    font-size: 18px;
   
}
.links{
    font-weight: 300;
    font-weight: 'poppins';
    cursor: pointer ;
    color: white;
    margin: 0;
}
.innerDiv>h3{
    font-weight: 400;
    color: #c89b63;
    margin-top: 0;
}
.innerDiv > input{
    width: 80%;
    padding: 15px;
 background-color: #575656;
 border: none;

}

.innerDiv>input::placeholder {
  color: #c89b63;
  
  font-size: 18px;
  
}
.innerDiv>input:focus {
 border: none;
  
}

