.footer{
    background-color: #2D2C2C;
    height: 400px;
    width: 100vw;
}
.top-div{

width: 80vw;
height: 60%;
margin: 0 auto;
background-color: green;
display: flex;
justify-content: space-between;
}
.innerDiv{
    width: 30%;
    height: 100%;
    background-color: aqua;

}
.innerDiv >p{
    text-align: justify;
    font-weight: 300    ;
   color: white;
}
.innerDiv >h4{
    font-weight: 400;
    color: #c89b63;
    text-align: right;
}