
.body {
    background-color: beige;
}

.main-title {
    color: brown;
}

.my-section {
    background-image: url('../assets/Image.png') ;
    width: 100vw;
    height: 900px;

}
.navbar{
    display: flex;
    width: 80vw;
    height: auto;
    margin: auto;
    justify-content: space-between;
    background-color: brown;
}
.navbar>ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    background-color: blue  ;
    width: 70vw;
}