.sorry{
    text-align: end;
    margin-right: 120px;
    margin-top: -20px;
    color: white;
    font-family: 'poppins';
    font-weight: 200;
}
.subheading{
    font-size: 60px;
    text-align: right;
    margin-right: 120px;
}
._404{
text-align: left;
margin-right: 12px;
font-size: 4em;


}