.sorry{
    text-align: end;
    margin-right: 120px;
    /* margin-top: -50px; */
    color: white;
    font-family: 'poppins';
    font-weight: 200;
}
.subheading{
    font-size: 40px;
    text-align: right;
    margin-right: 120px;
}