@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    background-color: beige;
}

.main-title {
    color: brown;
}

.my-section {
    background-image: url('../assets/Image.png');
    width: 100vw;
    height: 900px;
   
}

.navbar {
    display: flex;
    width: 80vw;
    height: auto;
    margin-left: auto;
    justify-content: space-between;
    }

.navbar>ul {
    display: flex;
    list-style-type: none;


    width: 40vw;
    justify-content: space-between;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.navlinks{
    font-size: 16px;
    color: white;
    cursor: pointer;
}