.navbar {
  /* background: linear-gradient(to bottom, #1a1a1a, #2e2e2e); */
  padding: 20px;
  display: flex;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.menu-item {
  position: relative;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
  font-size: 10px;
  color: #b99362;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  border-radius: 6px;
  min-width: 120px;
  z-index: 100;
}

.dropdown-item {
  color: #b99362;
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.dropdown-item .dot {
  margin-right: 6px;
  font-size: 12px;
  color: #b99362;
}

.dropdown-item + .dropdown-item {
  color: #bbb;
  font-weight: normal;
}
