.card{
    width: 100px;
    height: 50px;
    background-color: blue;
}
.outerDiv{
    background-color: green;
    padding-top: 100px  ;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.vertical{
    width: 1px;
    height: 100px;
    background-color: #BF9766;
    margin: auto;

}
.meet{
    color: #BF9766;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'poppins';
    letter-spacing: 8px;
    padding: 0;
}

.inner-circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: aliceblue;

}
.outer-circle{
    display :flex;
    gap: 10px;
    margin: 0 auto;
}